caricaMonitor.txt
[{"id":"5122382c.51dbb8","type":"comment","z":"36eab5a1.95408a","name":"gestione carica monitor","info":"","x":180,"y":500,"wires":[]},{"id":"2c7ffedf.0c64c2","type":"server-state-changed","z":"36eab5a1.95408a","name":"livello_batteria","server":"ee603d5.35d7dc","version":1,"entityidfilter":"input_text.monitor_batteria","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":170,"y":540,"wires":[["efea80bb.7565b"]]},{"id":"45073fae.bf215","type":"switch","z":"36eab5a1.95408a","name":"livello batteria","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"gte","v":"95","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":600,"wires":[["7f5544cf.a9807c"],["1ffbf52c.2d174b"]]},{"id":"cbe30345.6c0a3","type":"function","z":"36eab5a1.95408a","name":"carica <20%","func":"var livello = flow.get('livelloBatteriaMonitor');\nmsg.payload = {\n    chatId: \"xxxxxxxxx\",\n    type: \"message\",\n    content: \"DEBUG: batteria monitor scarica (\" + livello + \"%)\" + \n             \"\\n\" + \n             \"INIZIO carica\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":520,"wires":[["b76f64.9f1760a"]]},{"id":"7a9bd3e9.84b4ac","type":"function","z":"36eab5a1.95408a","name":"carica >95%","func":"var livello = flow.get('livelloBatteriaMonitor');\nmsg.payload = {\n    chatId: \"xxxxxxxx\",\n    type: \"message\",\n    content: \"DEBUG: batteria monitor carica (\" + livello + \"%)\" + \n             \"\\n\" + \n             \"FINE carica\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":700,"wires":[["b76f64.9f1760a"]]},{"id":"b76f64.9f1760a","type":"link out","z":"36eab5a1.95408a","name":"","links":["cd33baf.c001c48","512d5cb3.140e54"],"x":1375,"y":620,"wires":[]},{"id":"74fcc41e.2b8e3c","type":"comment","z":"36eab5a1.95408a","name":"notifica telegram","info":"","x":1420,"y":580,"wires":[]},{"id":"39e37a9c.17f436","type":"comment","z":"36eab5a1.95408a","name":"START carica","info":"","x":1190,"y":480,"wires":[]},{"id":"212258d9.5a5f58","type":"comment","z":"36eab5a1.95408a","name":"STOP carica","info":"","x":1190,"y":660,"wires":[]},{"id":"7f5544cf.a9807c","type":"api-current-state","z":"36eab5a1.95408a","name":"Monitor NON è in carica","server":"ee603d5.35d7dc","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.monitorTablet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":520,"wires":[["f5087d57.09944"],[]]},{"id":"f5087d57.09944","type":"api-call-service","z":"36eab5a1.95408a","name":"Start Carica","server":"ee603d5.35d7dc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.monitorTablet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":520,"wires":[["cbe30345.6c0a3"]]},{"id":"1ffbf52c.2d174b","type":"api-current-state","z":"36eab5a1.95408a","name":"Monitor E'  in carica","server":"ee603d5.35d7dc","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.monitorTablet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":700,"wires":[["ada3848e.f34f88"],[]]},{"id":"ada3848e.f34f88","type":"api-call-service","z":"36eab5a1.95408a","name":"Stop Carica","server":"ee603d5.35d7dc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.monitorTablet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":700,"wires":[["7a9bd3e9.84b4ac"]]},{"id":"efea80bb.7565b","type":"change","z":"36eab5a1.95408a","name":"salvoLivello","rules":[{"t":"set","p":"livelloBatteriaMonitor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":640,"wires":[["45073fae.bf215"]]},{"id":"cc74e98d.533e28","type":"comment","z":"36eab5a1.95408a","name":"batteria <=10%","info":"","x":640,"y":480,"wires":[]},{"id":"38abe5a8.fcdf3a","type":"comment","z":"36eab5a1.95408a","name":"batteria >=95%","info":"","x":620,"y":760,"wires":[]},{"id":"ee603d5.35d7dc","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
